<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burger/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each burgers}
    {{#if eaten}}
      {{> burger/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked> Eaten<br>
    <input type="radio" name="eaten" value="0"> Not Eaten
  </div>

  <button type="submit">Add a burger</button>
</form>
