li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.top {
  background-color: bisque;
}

.middle {
  background-color: rgb(202, 99, 2);
}

.bottom {
  background-color: bisque;
}

.mid-bot {
  background-color: green;
}